<div class="div-product-detail">
  <form class="form-product-detail" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <!-- search bar -->
    <div class='d-flex flex-row'>
      <input [(ngModel)]='searchValue' name="inputSearch" type="text" id="inputSearch"
        class="form-control" placeholder="Search" style="width: 680px">

      <div style="padding-left: 20px;">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100px;">Search</button>
      </div>
    </div>

    <!-- image -->
    <div class="d-flex justify-content-center">
      <div class="div-img">
        <img [src]="productDetail.imgUrl[page-1]" class="img-fluid" alt="">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="imgSize" [(page)]="page"></ngb-pagination>
      </div>
    </div>

    <!-- Add to Card -->
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 70px;">
      <label class="label-price-red">$ {{productDetail.price}}</label>
      <button class="btn btn-lg btn-primary btn-block" type="button" style="width: 200px;" (click)="addToCard(content)">Add to Card</button>
    </div>

    <!-- product name -->
    <div class="d-flex flex-column" style="margin-top: 40px;">
      <label class="label-productName-bleack">{{productDetail.productName}}</label>
      <label class="label-storeName-grey">{{productDetail.storeName}}</label>
    </div>

    <!-- descriptions -->
    <div class="d-flex align-content-start flex-wrap" style="width: 800px; margin-top: 40px;">
      <label class="text-nowrap" style="margin-right: 180px;" *ngFor="let description of productDetail.descriptions">{{description}}</label>
    </div>
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Thank you!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This product was successfully added to cart!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
