.div-search-result {
  text-align: left;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-search-result {
  width: 100%;
  padding: 15px;
  margin: auto;
}
.form-search-result .form-control {
  /* position: relative; */
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-search-result .form-control:focus {
  z-index: 2;
}
.form-search-result input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.div-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.div-eMartListItem {
  width: 100%;
  height: 100%;
}

.div-eMartListItem .div-img {
  width: 40px;
  height: 40px;
}
